html, body{
    height: 100%;
    width: 100%;
    background: #00000e;
}
#btn-delete-device{
    font-weight: bold;
}
#header-card{
    display: inline-flex;
}
#title-header-card{
    width: 80%;
    font-size: 14px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}
#content-full{    
    background-image: url("../img/fondo.jpg"), linear-gradient(to bottom, rgba(0, 4, 26, 0) 60%, rgba(0, 0, 18, 0.966) 100%) !important;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
}
#controls-frame{
    background-image: linear-gradient(to bottom, rgb(0, 4, 26) 0%, rgba(0,0,18,1) 100%);
    color: white;
    padding-bottom: 1px;
    padding-top: 3px;
    -webkit-app-region: drag;
    height: 27px;
}
#controls-frame #title-frame{
    padding-left: 10px;
    font-size: 14px;
    float: left;
}
#controls-frame .btn-group{
    float: right;
}
#controls-frame button{
    border-radius: 200px;
    padding: 0;
    padding-bottom: 5px;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    -webkit-app-region: no-drag;
    cursor: pointer;
}
#controls-frame button img{
    padding: 0;
    margin: 0;
    margin-top: -8px;
}

#content-data-connection{
    background: #ff003c;
}

#content-qr {
    font-weight: normal;
    text-align: center;
    padding: 0;    
    padding-bottom: 60px;
    color: white;
}

#content-qr canvas {
    margin: 0;
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.35);
}
#data-host-server{
    background: rgb(55, 0, 156);
}
#content-device{
    margin-top: -35px;
}
#status-success{
    background: rgb(0, 192, 58);
}

#btns-configuration{
    position: absolute;
    bottom: 0;    
    padding: 5px;
    width: 100%;
    
}
#btns-configuration .btn-group{
    padding: 0 !important;
    margin: 0 !important;
}
#btns-configuration button{
    color: white;
}
#btns-configuration svg{
    margin-top: -2px;
}

#info-update{
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: 12px;
    display: grid;
    align-items: center;
    padding-right: 10px;
}


.list-interface .group-network-1{
    margin-top: -5px !important;
    font-size: small;
}
#toast-port{
    margin-left: 10px;
    margin-right: 10px;
}